.dropdown {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  background-color: transparent !important;
  border-color: transparent !important;
  display: flex;
}

.toggle {
  color: #f4f2fa;
  text-decoration: none;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px;
  margin: 0 5px;
  padding: 6px 12px;
}

.fa {
  margin-left: 5px;
}


.listIcon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.dropdown-item {
  vertical-align: middle;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px;
}