.btView {
  display: flex;
  background-color: transparent;
  border: transparent;
  width: 170px;
  height: 40px;
  margin: 0 50px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .btView {
    width: 140px;
    height: 40px;
    margin: 0;
  }
}

.btViewText {
  color: rgba(244, 242, 250, 1);
  font-family: Montserrat;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 820px) {
  .btViewText {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 8px;
  }
}
.arrowIcon {
  width: 16px;
  height: 16px;
}
.btNext {
  display: flex;
  background-color: transparent;
  border: transparent;
  width: 170px;
  padding: 0%;

  align-items: center;
  justify-content: space-between;
}

@media (max-width: 820px) {
  .btNext {
    justify-content: flex-end;
  }
}

.btPrev {
  display: flex;
  background-color: transparent;
  border: transparent;
  width: 170px;
  align-items: center;
  justify-content: space-between;
  padding: 0%;
}
@media (max-width: 820px) {
  .btPrev {
    justify-content: flex-start;
  }
}

.btBox {
  width: 100%;
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  padding: 0;
}

.btBoxText {
  color: #000033;
  font-family: Montserrat;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 820px) {
  .btBoxText {
    font-size: 14px;
  }
}
