.boxComponent {
  margin: 18px 0;
  padding: 16px 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 32%;
  height: 206px;
  background: #ffffff;
  border: 0.5px solid #ccccd6;
  box-shadow: 0px 14px 24px rgba(0, 0, 51, 0.04);
  border-radius: 8px;
  border-bottom: 7px solid #100fa8;
}

.boxTex {
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: 500;
}
.title {
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: 500;
}
.boxIcon {
  width: 32px;
  height: 32px;
}

.boxTitle {
  width: 100%;
  
  font-family: "Montserrat" !important;
  font-style: normal !important;
  display: flex;
  font-weight: 700;

  display: flex;
  justify-content: flex-start;
}
