.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  background: #100fa8;
}
.dropdown {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  margin: 0 5px;
  --bs-btn-color: #f8f9fa !important;
  --bs-btn-bg: rgba(244, 242, 250, 1);
}

.dropdown-toggle::after {
  display: none !important;
}

.header {
  width: 100%;
  height: 120px;
  background-color: #100fa8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 820px) {
  .header {
    width: 100%;
    height: 56px;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.logoIm {
  width: 123.33px;
  height: 40px;
}

@media (max-width: 820px) {
  .logoIm {
    width: 55px;
    height: 18px;
  }
}

.bt-nav {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  margin: 0 5px;
  background-color: transparent !important;
  border: transparent !important;
}
.bt-con {
  background-color: transparent !important;
  width: 182px;
  height: 56px;
  border-color: rgba(244, 242, 250, 1) !important;
  border-radius: 4px !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 700 !important;
}
@media (max-width: 820px) {
  .bt-con {
    width: 123px;
    height: 36px;
  }
}

.bt-con2 {
  background-color: #ffffff !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  color: rgba(0, 0, 51, 1) !important;
  width: 188px;
  height: 56px;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 700 !important;
}

@media (max-width: 820px) {
  .bt-con2 {
    width: 140px;
    height: 40px;
  }
}

.headerPanel {
  display: flex;
  position: relative;
  background-color: #100fa8;
  height: 840px;
  width: 100%;
  padding: 128px 147px 0 147px;
}

@media (max-width: 820px) {
  .headerPanel {
    height: 560px;
    padding: 40px 16px 0 16px;
  }
}

.imgContainer {
  height: 100%;
  display: flex;
  justify-content: end;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 820px) {
  .imgContainer {
    max-height: 242.92px;
  }
}

.imgBusiness {
  width: 100%;
  display: block;
  object-fit: contain;
}

.headerCenterBlock {
  width: 610px;
  height: 545px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

@media (max-width: 820px) {
  .headerCenterBlock {
    width: 100%;
    justify-content: space-around;
    padding-bottom: 56px;
  }
}

.headerCenterButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
@media (max-width: 820px) {
  .headerCenterButtons {
    justify-content: space-between;
  }
}
.headerCenterText {
  width: 607px;
  height: 252px;
  color: #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
}

@media (max-width: 820px) {
  .headerCenterText {
    height: 128px;
    width: 288px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.footCenterBlock {
  height: 147px;
  bottom: 0px;
  padding: 0 147px;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 820px) {
  .footCenterBlock {
    height: 56px;
    padding: 0 16px;
  }
  .imgcarousel {
    height: 4px;
  }
}
.headerCenterAchievements {
  display: flex;
  color: #ffffff;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .headerCenterAchievements {
    height: 245px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.achievBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.achievNum {
  font-weight: 700 !important;
  font-size: 40px !important;
  line-height: 48px !important;
}
@media (max-width: 820px) {
  .achievNum {
    font-size: 24px !important;
    line-height: 24px !important;
  }
}
.achievText {
  display: flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 820px) {
  .achievText {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
.solutionsPanel {
  padding: 128px 147px 0 147px;
  height: 900px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}
@media (max-width: 820px) {
  .solutionsPanel {
    height: 700px;
    padding: 64px 16px;
    align-items: center;
  }
}
.solutionTitle {
  height: 56px;
  font-family: "Tiempos Headline" !important;
  font-style: normal !important;
  font-weight: 700 !important;

  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 820px) {
  .solutionTitle {
    font-weight: 500 !important;
    width: 217px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 64px;
  }
}

.solutions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  .solutions {
    justify-content: space-between;
  }
}

.footerBox {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  background-color: #ffffff;
  padding: 128px 147px 110px 147px;
}

@media (max-width: 820px) {
  .footerBox {
    justify-content: space-between;
    padding: 64px 16px;
  }
}

.footerTitel {
  padding-bottom: 44px;
  font-family: "Tiempos Headline" !important;
  font-style: normal !important;
  font-weight: 700 !important;

  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 820px) {
  .footerTitel {
    font-size: 24px;
    line-height: 28px;
  }
}
.footerIcon {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .footerIcon {
    overflow: scroll;
  }
}
.image {
}
@media (max-width: 820px) {
  .image {
    height: 32px;
    width: 125.61px;
    margin-right: 32px;
    
  }
}
.burgerIcon {
  height: 24px;
  width: 24px;
}
